/*
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.Nunito200 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.Nunito400 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

/*
Font Color
*/
.customPurple {
    color: #D76AA5;
}

.customPurple:hover {
    transition: 0.5s;
    color: #646790;
}

/*
Common part Background
*/
.MainBodyIndex {
    margin:0;
    padding:0;
    background-image: url("../img/public/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    height: 100%;
}

.linkNav {
    text-underline: none !important;
    color: white;
}

.HoverLinkCustomColor:hover {
    transition: 0.25s;
    color: #D76AA5 !important;
}

/*
Tools
*/
.top100vh {
    margin-top: 100vh;
}

.top75vh {
    margin-top: 75vh;
}

.top50vh {
    margin-top: 50vh;
}

.top25vh {
    margin-top: 25vh;
}
.top10vh {
    margin-top: 10vh;
}

.hrBasic {
    height: 1px;
    background-color: #2d2d2d;
    border: none;
}

.bgPurple {
    background-color: #b56690;
    border: none;
}

.bgPurple:hover {
    background-color: #b56690;
    transition: 0.5s;
}

.bgPurpleButton {
    background-color: #b56690;
    border: none;
}

.bgPurpleButton:hover {
    background-color: #b56690;
    transition: 0.5s;
}

.bgPurpleButton:focus:active {
    transition: 0.5s;
    background-color: #646790;
}

.noStyle {
    text-underline: none !important;
    color: rgba(0, 128, 0, 0);
}

.bg-black {
    background-color: #181818 !important;
}

#QuestionList_wrapper select {
    color: white !important;
}

#QuestionList_wrapper option {
    color: black !important;
}

#QuestionList_filter input {
    color: white;
}


/*
Public/auth/index
*/
.firstSquare{
    background-color: #1D1D1D;
    height: 161px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.img001Auth {
    margin-top: -80px;
}

.secondSquare {
    background-color: #1D1D1D;
    height: 279px;
}

.txtButtonAuth {
    text-transform: uppercase;
}

/*
layouts/public/nav
*/

.imgLogo {
    width: 210px;
    height: 184px;
    margin-top: -80px;
}

#navBloc {
    height: 700px;
}

/*
public/dashboard/index
*/

.BlocIndexDashBoard {
    height: 250px;
}
